alias bslist='brew services list'
alias startmongodb='brew services start mongodb-community@4.4'
alias stopmongodb='brew services stop mongodb-community@4.4'
alias sr='source ~/.zshrc'
alias py='python3'
alias cat='lolcat'
alias xcodev='/usr/bin/xcodebuild -version'

# https://github.com/sivel/speedtest-cli
alias fast='speedtest'

# https://github.com/ytdl-org/youtube-dl
alias ytdl='youtube-dl'

# confirm before overwriting 
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# enabling siri via terminal
alias siri="open -a /System/Library/CoreServices/Siri.app"
